<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>OSSEC Web Interface - Open Source Security</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {%block head_meta %}{% endblock %}
        <link rel="shortcut icon" href="static/css/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" media="all"  href="static/css/cal.css" title="css/cal.css" />
        <script type="text/javascript" src="static/js/calendar.js"></script>
        <script type="text/javascript" src="static/js/calendar-en.js"></script>
        <script type="text/javascript" src="static/js/calendar-setup.js"></script>
        <script type="text/javascript" src="static/js/prototype.js"></script>
        <script type="text/javascript" src="static/js/hide.js"></script>
        <link rel="stylesheet" rev="stylesheet"   href="static/css/css.css" type="text/css" />
    </head>

    <body>
<br/>

{% include "./parts/header.html" %}

<div id="container">
  <div id="content_box">
  <div id="content" class="pages">
  <a name="top"></a>

          <!-- BEGIN: content -->

{% block canvas %} contents {% endblock %}

<!-- END: content -->
<br /><br />
<br /><br />
</div>
</div>

{% include "./parts/footer.html" %}

</div>
</body>
</html>
